In [3]:
import pandas as pd
df = pd.read_csv('videogamesales.csv', encoding='latin1')

In [7]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,8349.000000,8217.000000,8349.000000,8349.000000,8349.000000,8349.000000,8349.000000
mean,4175.921787,2005.579652,0.493610,0.278315,0.136049,0.091618,0.999523
std,2410.417925,6.322247,1.104103,0.687352,0.426788,0.258557,2.091849
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.170000
25%,2089.000000,2002.000000,0.130000,0.030000,0.000000,0.020000,0.270000
50%,4176.000000,2007.000000,0.240000,0.110000,0.000000,0.030000,0.470000
75%,6263.000000,2010.000000,0.490000,0.270000,0.090000,0.080000,0.990000
max,8350.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000